.container {
  padding-top: 30px;
  width: 70% !important;
  margin: auto;
}

.input {
  width: 50%;
}

.user-list {
  margin-top: 30px;
}

.user {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #eee;
  display: flex;
  justify-content: space-between;
}

.user-id {
  color: #ffffff;
  margin-right: 20px;
}

.user-name {
  color: #ffffff;
  width: 175px;
}

.user-age {
  margin:0 auto;
  width: 180px;
}

.user-gender {
  width: 175px;
}

@media (max-width: 480px) {
.table-responsive {
  display: block;
  }

  h1.display-4 {
    width: 300px;
  }
}
